.single {
    display: flex;
}

.single h1 {
    text-align: center;
    padding: 5px;
    font-size: 40px;
}

@media screen and (max-width:1300px) {
    .single {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .single .side-bar {
        position: relative;
        margin-bottom: 600px;
    }

    .single .side-bar .swiperSide {
        bottom: -10px;
    }
}