.write {
    margin-top: 30px;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 100%;
}

.write-img {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.post-title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-family: serif;
    margin-bottom: 10px;
}

.write-form {
    position: relative;
    min-height: 100%;
}

.form-group {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-group-cat {
    display: flex;
    align-items: center;
    margin-left: 150px;
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-group-cat label {
    margin: 20px 0;
    font-size: 24px;
    color: darkgray;
}

.form-group-cat .input-cat {
    padding: 10px;
    font-size: 18px;
    border: none;
    margin-left: 20px;
    color: darkgray;
}

.form-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
}

.input-form {
    padding: 30px;
    font-size: 20px;
    border: none;
    width: 70vw;
}

.input-form:focus {
    outline: none;
}

.input-story {
    font-size: 20px;
}

.btn-publish {
    position: absolute;
    font-size: 20px;
    top: 100px;
    right: 70px;
    padding: 12px;
    color: #fff;
    background: teal;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

@media screen and (max-width:600px) {
    .write h1.post-title {
        margin-left: 0;
        font-size: 50px;
    }

    .write .write-img {
        margin-left: 85px;
    }

    .write .write-form {
        display: flex;
        flex-direction: column;
    }

    .write .write-form {
        margin-left: -60px;
        padding-left: 0;
        padding-bottom: 100px;
    }

    .write .write-form .btn-publish {
        top: 200px;
        right: 30px;

    }

}

@media screen and (max-width:560px) {
    .write .write-form .btn-publish {
        top: 320px;
        right: 40%;

    }
}

@media screen and (max-width:400px) {

    .write .write-form .form-content,
    .write .write-form .form-group {
        width: 100%;
    }

    .write .write-img {
        width: 95%;
        margin-left: 12px;
    }

    .write .write-form textarea {
        width: 70%;
        margin-left: -20px;
        padding-left: 0;
    }



    .write .write-form .btn-publish {
        top: 350px;
        right: 30%;

    }

    .write .write-form {
        margin-left: -80px;
    }

    .top .topLeft,
    .top .topCenter {
        margin-left: 25px;
    }
}